$bg-color: yellow;
$border-color: red;
$white: white;
$black: black;
$primary-blue: #076f7e;
$light-gray: #E5E5E5;
$large-padding: 12em;
$medium-padding: 4em;
$small-padding: 1.5em;
$tiny-padding: 1em;
$medium-text-size: 1.5em;
$large-text-size: 3.5em;
$nunito: 'Caveat Brush', sans-serif;

$medium-blue: #AAF1FF;
$light-blue: #E6FBFF;
$teal: #13AACE;
$orange: #FFB35F;
$green: #13CECE;

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: $white;
}

h1 {
  font-size: $large-text-size;
  font-family: $nunito;
  font-weight: 300;
  margin-top: 0;
  // margin-bottom: $small-padding;
  color: $teal;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.half-size {
  width: 40%;
}

.appstore-button {
  max-width: 300px;
  max-height: 90px;
}

.appstore-button:hover {
  opacity: 0.7;
}

.padding-right {
  padding-right: $small-padding;
}

.padding-left {
  padding-left: $small-padding;
}

h2 {
  font-family: $nunito;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: $small-padding;
}

p {
  font-family: $nunito;
}

h3 {
  font-family: $nunito;
  font-weight: 600;
}

.app {
  font-family: $nunito;
}

.white {
  color: $white;
}

// Sections and section flex

%section {
  padding: $medium-padding $large-padding;
  align-items: center;
  justify-content: center;
  // min-height: 400px;
}

.section-gradient {
  @extend %section;
  background-image: linear-gradient(to bottom right, $light-blue, $medium-blue);
  height: 50vh;
}

.section-white {
  @extend %section;
  background-color: $white;
}

%flex {
  display: flex;
}

.flex-row {
  @extend %flex;
  flex-direction: row;
}

.flex-column {
  @extend %flex;
  flex-direction: column;
}

.landing-prompt {
  max-width: 600px;
}

.align-right {
  margin-left: auto;
}

// Media Queries

@media all 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .flex-row {
    display: flex;
    flex-direction: column;
    margin-left: $small-padding;
  }

  #email {
    width: 80vw !important;
  }

  .align-right {
    width: 90vw;
    margin: $medium-padding 0 $medium-padding 0;
  }

  .mobile-smaller {
    font-size: 13px;
  }

  .header {
    padding: $small-padding;
  }

  .header .links {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    margin-top: $tiny-padding;
  }

  .section-black {
    padding: 0;
  }
}

// Mail Chimp

.hidden {
  position: absolute;
  left: -5000px;
}

#email {
  background-color: $light-gray;
  width: 35vw;
  padding: 20px;
  font-family: $nunito;
  color: $black;
  border-width: 0;
  margin-bottom: $small-padding;
  font-size: $medium-text-size;
}

// Buttons

// to change some weird mobile button appearance
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// in order to get buttons to have dynamic width based on text length
.button-container {
  width: 100%;
  height: 80px;
  display: table;
  border-collapse: separate;
}

.button-container .primary-button {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  background-color: $primary-blue;
  color: $white;
  font-size: $medium-text-size;
  width: auto;
  font-family: $nunito;
  font-weight: 600;
  border-width: 0;
  padding: $tiny-padding $small-padding;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
}
